@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.hero-section {
  background-image: url('/home-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.backdrop-blur-custom {
 border-radius: 15px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10.199999809265137px);
}


/* In your global CSS file (e.g., app/globals.css or styles/globals.css) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* This box-shadow trick effectively covers the autofill background */
  -webkit-box-shadow: 0 0 0px 1000px #202F35 inset !important; /* Adjust #2D3748 to match your desired input background color */
  -webkit-text-fill-color: white !important; /* Ensures the text remains white */
  background-image: none !important; /* Removes any default autofill background images */
  transition: background-color 5000s ease-in-out 0s !important; /* Long transition to keep the color on autofill */
}

/* For Firefox (less control, but good to include) */
input:-moz-autofill {
  background-color: none !important; /* Adjust color */
}